{% extends 'base.html' %}
{% load cloudinary %}

{% block content %}
    <form action="." method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table border=1 align="center">
            <tr>
                <td style="padding:10px;margin:20px;">
                    <label for="imagens">Imagens:</label>
                </td>

                <td style="padding:10px;margin:20px;">
                    {{ form.imagem }}
                </td>
            </tr>

            <tr align="center">
                <td colspan='2' style="padding:10px;margin:20px;">
                    <input type="submit" value="Upload">
                </td>
            </tr>
        </table>
		
		<table align="center">
			{% for img in imgs %}
				<tr>
					<!--<td>{% cloudinary img.imagem %}</td>-->
					<td>{% cloudinary img.imagem height=500 width=400 crop="fill" %}</td>
				</tr>
			{% empty %}
				<tr>
					<td>Sem Itens na Lista</td>
				</tr>
			{% endfor %}
		</table>

{% endblock content%}